.login {
    width: 100%;
    color: white;
    .login-err {
        background-color: rgb(244, 210, 204);
        padding: 0.3em 0.6em;
        color: #c23616;
        border: thin solid #c23616;
        border-radius: 2px;
        margin-bottom: 0.6em;
        width: 100%;
    }
    h3 {
        font-weight: 500;
        font-size: 1.6rem;
        margin-bottom: 0.2em;
    }
}

.form {
    button {
        margin-top: 1em;
        outline: none;
        border: none;
        width: 100%;
        padding: 0.5em 0.6em;
        font-family: inherit;
        font-size: 1rem;
        border-radius: 4px;
        background-color: #2ecc71;
        font-weight: 500;
        color: #ecf0f1;
        margin-bottom: 0.6em;
        cursor: pointer;
    }
}
